<!-- Nav menu Start -->
<ul class="nav-menu d-lg-flex align-items-center @@class">
  <li class="nav-menu__item has-submenu activePage">
    <a
      href="javascript:void(0)"
      class="nav-menu__link tw-pe-5 text-heading tw-py-9 fw-medium w-100"
      >Home</a
    >

    <!-- mega menu start -->
    <div
      class="mega-menu tw-p-6 tw-rounded-lg scroll-sm nav-submenu position-absolute start-0 top-100 tw-w-max bg-white tw-rounded-md tw-mt-4 tw-duration-200 tw-z-99"
    >
      <div
        class="row g-3 row-cols-1 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5"
      >
        <div class="col">
          <div class="mega-menu-item group-item">
            <div class="position-relative border tw-rounded-lg overflow-hidden">
              <a href="index.html" class="d-block">
                <img
                  src="assets/images/thumbs/home-img1.png"
                  alt="Home Page Image"
                  class="tw-h-280-px w-100 object-fit-cover object-top"
                />
              </a>
              <div class="d-lg-flex d-none">
                <div
                  class="mega-menu-item__overlay position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-scale-04 group-hover-item-scale-1 tw-rounded-lg pointer-event-none"
                ></div>
                <div
                  class="mega-menu-item__buttons position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center flex-column tw-gap-4 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1"
                >
                  <a
                    href="index.html"
                    target="_blank"
                    class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-p-2 tw-ps-5 rounded-pill"
                    data-block="button"
                  >
                    <span class="button__flair"></span>
                    <span class="button__label">Live Preview</span>
                    <span
                      class="tw-w-9 tw-h-9 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500"
                    >
                      <i class="ph-bold ph-arrow-right"></i>
                    </span>
                  </a>
                  <a
                    href="index.html"
                    target="_blank"
                    class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-p-2 tw-ps-5 rounded-pill"
                    data-block="button"
                  >
                    <span class="button__flair"></span>
                    <span class="button__label">Live Preview</span>
                    <span
                      class="tw-w-9 tw-h-9 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500"
                    >
                      <i class="ph-bold ph-arrow-right"></i>
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="tw-mt-4 text-center">
              <a
                href="index.html"
                class="text-heading hover-text-main-600 fw-medium tw-text-md text-capitalize"
                >SEO Agency</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="mega-menu-item group-item">
            <div class="position-relative border tw-rounded-lg overflow-hidden">
              <a href="index.html" class="d-block">
                <img
                  src="assets/images/thumbs/home-img2.png"
                  alt="Home Page Image"
                  class="tw-h-280-px w-100 object-fit-cover object-top"
                />
              </a>
              <div class="d-lg-flex d-none">
                <div
                  class="mega-menu-item__overlay position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-scale-04 group-hover-item-scale-1 tw-rounded-lg pointer-event-none"
                ></div>
                <div
                  class="mega-menu-item__buttons position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center flex-column tw-gap-4 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1"
                >
                  <a
                    href="index.html"
                    target="_blank"
                    class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-p-2 tw-ps-5 rounded-pill"
                    data-block="button"
                  >
                    <span class="button__flair"></span>
                    <span class="button__label">Live Preview</span>
                    <span
                      class="tw-w-9 tw-h-9 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500"
                    >
                      <i class="ph-bold ph-arrow-right"></i>
                    </span>
                  </a>
                  <a
                    href="index.html"
                    target="_blank"
                    class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-p-2 tw-ps-5 rounded-pill"
                    data-block="button"
                  >
                    <span class="button__flair"></span>
                    <span class="button__label">Live Preview</span>
                    <span
                      class="tw-w-9 tw-h-9 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500"
                    >
                      <i class="ph-bold ph-arrow-right"></i>
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="tw-mt-4 text-center">
              <a
                href="index.html"
                class="text-heading hover-text-main-600 fw-medium tw-text-md text-capitalize"
                >Web Hosting</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="mega-menu-item group-item">
            <div class="position-relative border tw-rounded-lg overflow-hidden">
              <a href="index.html" class="d-block">
                <img
                  src="assets/images/thumbs/home-img3.png"
                  alt="Home Page Image"
                  class="tw-h-280-px w-100 object-fit-cover object-top"
                />
              </a>
              <div class="d-lg-flex d-none">
                <div
                  class="mega-menu-item__overlay position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-scale-04 group-hover-item-scale-1 tw-rounded-lg pointer-event-none"
                ></div>
                <div
                  class="mega-menu-item__buttons position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center flex-column tw-gap-4 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1"
                >
                  <a
                    href="index.html"
                    target="_blank"
                    class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-p-2 tw-ps-5 rounded-pill"
                    data-block="button"
                  >
                    <span class="button__flair"></span>
                    <span class="button__label">Live Preview</span>
                    <span
                      class="tw-w-9 tw-h-9 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500"
                    >
                      <i class="ph-bold ph-arrow-right"></i>
                    </span>
                  </a>
                  <a
                    href="index.html"
                    target="_blank"
                    class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-p-2 tw-ps-5 rounded-pill"
                    data-block="button"
                  >
                    <span class="button__flair"></span>
                    <span class="button__label">Live Preview</span>
                    <span
                      class="tw-w-9 tw-h-9 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500"
                    >
                      <i class="ph-bold ph-arrow-right"></i>
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="tw-mt-4 text-center">
              <a
                href="index.html"
                class="text-heading hover-text-main-600 fw-medium tw-text-md text-capitalize"
                >Task Management</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="mega-menu-item group-item">
            <div class="position-relative border tw-rounded-lg overflow-hidden">
              <a href="index.html" class="d-block">
                <img
                  src="assets/images/thumbs/home-img4.png"
                  alt="Home Page Image"
                  class="tw-h-280-px w-100 object-fit-cover object-top"
                />
              </a>
              <div class="d-lg-flex d-none">
                <div
                  class="mega-menu-item__overlay position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-scale-04 group-hover-item-scale-1 tw-rounded-lg pointer-event-none"
                ></div>
                <div
                  class="mega-menu-item__buttons position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center flex-column tw-gap-4 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1"
                >
                  <a
                    href="index.html"
                    target="_blank"
                    class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-p-2 tw-ps-5 rounded-pill"
                    data-block="button"
                  >
                    <span class="button__flair"></span>
                    <span class="button__label">Live Preview</span>
                    <span
                      class="tw-w-9 tw-h-9 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500"
                    >
                      <i class="ph-bold ph-arrow-right"></i>
                    </span>
                  </a>
                  <a
                    href="index.html"
                    target="_blank"
                    class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-p-2 tw-ps-5 rounded-pill"
                    data-block="button"
                  >
                    <span class="button__flair"></span>
                    <span class="button__label">Live Preview</span>
                    <span
                      class="tw-w-9 tw-h-9 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500"
                    >
                      <i class="ph-bold ph-arrow-right"></i>
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="tw-mt-4 text-center">
              <a
                href="index.html"
                class="text-heading hover-text-main-600 fw-medium tw-text-md text-capitalize"
                >CRM Software</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="mega-menu-item group-item">
            <div class="position-relative border tw-rounded-lg overflow-hidden">
              <a href="index.html" class="d-block">
                <img
                  src="assets/images/thumbs/home-img5.png"
                  alt="Home Page Image"
                  class="tw-h-280-px w-100 object-fit-cover object-top"
                />
              </a>
              <div class="d-lg-flex d-none">
                <div
                  class="mega-menu-item__overlay position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-scale-04 group-hover-item-scale-1 tw-rounded-lg pointer-event-none"
                ></div>
                <div
                  class="mega-menu-item__buttons position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center flex-column tw-gap-4 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1"
                >
                  <a
                    href="index.html"
                    target="_blank"
                    class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-p-2 tw-ps-5 rounded-pill"
                    data-block="button"
                  >
                    <span class="button__flair"></span>
                    <span class="button__label">Live Preview</span>
                    <span
                      class="tw-w-9 tw-h-9 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500"
                    >
                      <i class="ph-bold ph-arrow-right"></i>
                    </span>
                  </a>
                  <a
                    href="index.html"
                    target="_blank"
                    class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-p-2 tw-ps-5 rounded-pill"
                    data-block="button"
                  >
                    <span class="button__flair"></span>
                    <span class="button__label">Live Preview</span>
                    <span
                      class="tw-w-9 tw-h-9 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500"
                    >
                      <i class="ph-bold ph-arrow-right"></i>
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="tw-mt-4 text-center">
              <a
                href="index.html"
                class="text-heading hover-text-main-600 fw-medium tw-text-md text-capitalize"
                >App Landing</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="mega-menu-item group-item">
            <div class="position-relative border tw-rounded-lg overflow-hidden">
              <a href="index.html" class="d-block">
                <img
                  src="assets/images/thumbs/home-img6.png"
                  alt="Home Page Image"
                  class="tw-h-280-px w-100 object-fit-cover object-top"
                />
              </a>
              <div class="d-lg-flex d-none">
                <div
                  class="mega-menu-item__overlay position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-scale-04 group-hover-item-scale-1 tw-rounded-lg pointer-event-none"
                ></div>
                <div
                  class="mega-menu-item__buttons position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center flex-column tw-gap-4 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1"
                >
                  <a
                    href="index.html"
                    target="_blank"
                    class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-p-2 tw-ps-5 rounded-pill"
                    data-block="button"
                  >
                    <span class="button__flair"></span>
                    <span class="button__label">Live Preview</span>
                    <span
                      class="tw-w-9 tw-h-9 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500"
                    >
                      <i class="ph-bold ph-arrow-right"></i>
                    </span>
                  </a>
                  <a
                    href="index.html"
                    target="_blank"
                    class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-p-2 tw-ps-5 rounded-pill"
                    data-block="button"
                  >
                    <span class="button__flair"></span>
                    <span class="button__label">Live Preview</span>
                    <span
                      class="tw-w-9 tw-h-9 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500"
                    >
                      <i class="ph-bold ph-arrow-right"></i>
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="tw-mt-4 text-center">
              <a
                href="index.html"
                class="text-heading hover-text-main-600 fw-medium tw-text-md text-capitalize"
                >Consulting Agency</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="mega-menu-item group-item">
            <div class="position-relative border tw-rounded-lg overflow-hidden">
              <a href="index.html" class="d-block">
                <img
                  src="assets/images/thumbs/home-img7.png"
                  alt="Home Page Image"
                  class="tw-h-280-px w-100 object-fit-cover object-top"
                />
              </a>
              <div class="d-lg-flex d-none">
                <div
                  class="mega-menu-item__overlay position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-scale-04 group-hover-item-scale-1 tw-rounded-lg pointer-event-none"
                ></div>
                <div
                  class="mega-menu-item__buttons position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center flex-column tw-gap-4 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1"
                >
                  <a
                    href="index.html"
                    target="_blank"
                    class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-p-2 tw-ps-5 rounded-pill"
                    data-block="button"
                  >
                    <span class="button__flair"></span>
                    <span class="button__label">Live Preview</span>
                    <span
                      class="tw-w-9 tw-h-9 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500"
                    >
                      <i class="ph-bold ph-arrow-right"></i>
                    </span>
                  </a>
                  <a
                    href="index.html"
                    target="_blank"
                    class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-p-2 tw-ps-5 rounded-pill"
                    data-block="button"
                  >
                    <span class="button__flair"></span>
                    <span class="button__label">Live Preview</span>
                    <span
                      class="tw-w-9 tw-h-9 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500"
                    >
                      <i class="ph-bold ph-arrow-right"></i>
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="tw-mt-4 text-center">
              <a
                href="index.html"
                class="text-heading hover-text-main-600 fw-medium tw-text-md text-capitalize"
                >Advertising Agency</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="mega-menu-item group-item">
            <div class="position-relative border tw-rounded-lg overflow-hidden">
              <a href="index.html" class="d-block">
                <img
                  src="assets/images/thumbs/home-img8.png"
                  alt="Home Page Image"
                  class="tw-h-280-px w-100 object-fit-cover object-top"
                />
              </a>
              <div class="d-lg-flex d-none">
                <div
                  class="mega-menu-item__overlay position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-scale-04 group-hover-item-scale-1 tw-rounded-lg pointer-event-none"
                ></div>
                <div
                  class="mega-menu-item__buttons position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center flex-column tw-gap-4 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1"
                >
                  <a
                    href="index.html"
                    target="_blank"
                    class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-p-2 tw-ps-5 rounded-pill"
                    data-block="button"
                  >
                    <span class="button__flair"></span>
                    <span class="button__label">Live Preview</span>
                    <span
                      class="tw-w-9 tw-h-9 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500"
                    >
                      <i class="ph-bold ph-arrow-right"></i>
                    </span>
                  </a>
                  <a
                    href="index.html"
                    target="_blank"
                    class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-p-2 tw-ps-5 rounded-pill"
                    data-block="button"
                  >
                    <span class="button__flair"></span>
                    <span class="button__label">Live Preview</span>
                    <span
                      class="tw-w-9 tw-h-9 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500"
                    >
                      <i class="ph-bold ph-arrow-right"></i>
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="tw-mt-4 text-center">
              <a
                href="index.html"
                class="text-heading hover-text-main-600 fw-medium tw-text-md text-capitalize"
                >Statup Agency</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="mega-menu-item group-item">
            <div class="position-relative border tw-rounded-lg overflow-hidden">
              <a href="index.html" class="d-block">
                <img
                  src="assets/images/thumbs/home-img9.png"
                  alt="Home Page Image"
                  class="tw-h-280-px w-100 object-fit-cover object-top"
                />
              </a>
              <div class="d-lg-flex d-none">
                <div
                  class="mega-menu-item__overlay position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-scale-04 group-hover-item-scale-1 tw-rounded-lg pointer-event-none"
                ></div>
                <div
                  class="mega-menu-item__buttons position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center flex-column tw-gap-4 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1"
                >
                  <a
                    href="index.html"
                    target="_blank"
                    class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-p-2 tw-ps-5 rounded-pill"
                    data-block="button"
                  >
                    <span class="button__flair"></span>
                    <span class="button__label">Live Preview</span>
                    <span
                      class="tw-w-9 tw-h-9 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500"
                    >
                      <i class="ph-bold ph-arrow-right"></i>
                    </span>
                  </a>
                  <a
                    href="index.html"
                    target="_blank"
                    class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-p-2 tw-ps-5 rounded-pill"
                    data-block="button"
                  >
                    <span class="button__flair"></span>
                    <span class="button__label">Live Preview</span>
                    <span
                      class="tw-w-9 tw-h-9 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500"
                    >
                      <i class="ph-bold ph-arrow-right"></i>
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="tw-mt-4 text-center">
              <a
                href="index.html"
                class="text-heading hover-text-main-600 fw-medium tw-text-md text-capitalize"
                >Corporate Agency</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="mega-menu-item group-item">
            <div class="position-relative border tw-rounded-lg overflow-hidden">
              <a href="index.html" class="d-block">
                <img
                  src="assets/images/thumbs/home-img10.png"
                  alt="Home Page Image"
                  class="tw-h-280-px w-100 object-fit-cover object-top"
                />
              </a>
              <div class="d-lg-flex d-none">
                <div
                  class="mega-menu-item__overlay position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-scale-04 group-hover-item-scale-1 tw-rounded-lg pointer-event-none"
                ></div>
                <div
                  class="mega-menu-item__buttons position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center flex-column tw-gap-4 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1"
                >
                  <a
                    href="index.html"
                    target="_blank"
                    class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-p-2 tw-ps-5 rounded-pill"
                    data-block="button"
                  >
                    <span class="button__flair"></span>
                    <span class="button__label">Live Preview</span>
                    <span
                      class="tw-w-9 tw-h-9 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500"
                    >
                      <i class="ph-bold ph-arrow-right"></i>
                    </span>
                  </a>
                  <a
                    href="index.html"
                    target="_blank"
                    class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-p-2 tw-ps-5 rounded-pill"
                    data-block="button"
                  >
                    <span class="button__flair"></span>
                    <span class="button__label">Live Preview</span>
                    <span
                      class="tw-w-9 tw-h-9 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500"
                    >
                      <i class="ph-bold ph-arrow-right"></i>
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="tw-mt-4 text-center">
              <a
                href="index.html"
                class="text-heading hover-text-main-600 fw-medium tw-text-md text-capitalize"
                >Creative Agency</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- mega menu end -->
  </li>
  <li class="nav-menu__item has-submenu position-relative">
    <a
      href="javascript:void(0)"
      class="nav-menu__link tw-pe-5 text-heading tw-py-9 fw-medium w-100"
      >Pages</a
    >
    <ul
      class="nav-submenu scroll-sm position-absolute start-0 top-100 tw-w-max bg-white tw-rounded-md overflow-hidden tw-p-2 tw-mt-4 tw-duration-200 tw-z-99"
    >
      <li
        class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"
      >
        <a
          href="#"
          class="nav-submenu__link hover-bg-neutral-100 text-heading fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded"
        >
          Property</a
        >
      </li>
      <li
        class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"
      >
        <a
          href="#"
          class="nav-submenu__link hover-bg-neutral-100 text-heading fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded"
        >
          About Us</a
        >
      </li>
      <li
        class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"
      >
        <a
          href="#"
          class="nav-submenu__link hover-bg-neutral-100 text-heading fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded"
        >
          FAQ</a
        >
      </li>
    </ul>
  </li>
  <li class="nav-menu__item has-submenu position-relative">
    <a
      href="javascript:void(0)"
      class="nav-menu__link tw-pe-5 text-heading tw-py-9 fw-medium w-100"
      >Project</a
    >
    <ul
      class="nav-submenu scroll-sm position-absolute start-0 top-100 tw-w-max bg-white tw-rounded-md overflow-hidden tw-p-2 tw-mt-4 tw-duration-200 tw-z-99"
    >
      <li
        class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"
      >
        <a
          href="#"
          class="nav-submenu__link hover-bg-neutral-100 text-heading fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded"
        >
          Project
        </a>
      </li>
      <li
        class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"
      >
        <a
          href="#"
          class="nav-submenu__link hover-bg-neutral-100 text-heading fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded"
          >Project Details</a
        >
      </li>
    </ul>
  </li>
  <li class="nav-menu__item has-submenu position-relative">
    <a
      href="javascript:void(0)"
      class="nav-menu__link tw-pe-5 text-heading tw-py-9 fw-medium w-100"
      >Blog</a
    >
    <ul
      class="nav-submenu scroll-sm position-absolute start-0 top-100 tw-w-max bg-white tw-rounded-md overflow-hidden tw-p-2 tw-mt-4 tw-duration-200 tw-z-99"
    >
      <li
        class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"
      >
        <a
          href="#"
          class="nav-submenu__link hover-bg-neutral-100 text-heading fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded"
        >
          Blog Classic</a
        >
      </li>
      <li
        class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"
      >
        <a
          href="#"
          class="nav-submenu__link hover-bg-neutral-100 text-heading fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded"
        >
          Blog Details</a
        >
      </li>
    </ul>
  </li>
  <li class="nav-menu__item">
    <a href="#" class="nav-menu__link text-heading tw-py-9 fw-medium w-100"
      >Contact</a
    >
  </li>
</ul>
<!-- Nav menu End  -->
